.register-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        letter-spacing: 2px;
    }
    .input-container, 
    .forgot-password-label,
    .action-btn-container {
        width: 80%;
        height: auto;
        padding: 10px 5px;
        margin: 10px auto 0px auto;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    .forgot-password-label {
        margin: 0;
        text-align: left;
        font-size: 12px;
    }
}